body
  font-family: "Helvetica Neue","HelveticaNeueLT Std","MgOpen Moderna",Helvetica,Arial,sans-serif
  .hidden
    display: none
  .song
    padding: 10px
    .created_at
      color: #333333
      font-size: 14px
    .title
      color: #F44040
      font-size: 42px
      line-height: 20px
    .versions
      .first_version
      .version_image,
      .thumbnail
        float: left
      .description
        float: left
        clear: both
      .version
        float: left
        clear: left
        padding-left: 10px
        .reveal
          font-size: 12px
        .content
          margin-left: 10px